.Home {
  display: flex;
  width: 60%;
  height: 100%;
  background-color: #f2f2f2;
  margin-top: 4%;
  float: bottom;
  position: relative;
  flex-direction: column;
}

.SearchBar {
  margin-top: -5%;
  margin-left: 60%;
}

@media screen and (max-width: 960px) {
  .Home {
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    flex-direction: column;
  }
  p {
    display: 100%;
  }
  .SearchBar {
    margin-top: -18%;
    margin-left: 5%;
    align-items: center;
  }
  .searchBox {
    width: 60%;
  }
  .submitButon {
    font-size: 16px;
    width: 30%;
  }
}
