.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: "EB Garamond", serif;
}
p {
  font-family: "EB Garamond", serif;
}
pre {
  font-family: "EB Garamond", serif;
}
input {
  font-family: "EB Garamond", serif;
}
br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 0; /* change this to whatever height you want it */
}
ul {
  line-height: 5vh;
  margin: 0px;
}
ol li {
  line-height: 5vh;
  margin: 10px;
}
p {
  line-height: 5vh;
}
ul li {
  line-height: 5vh;
  margin: 10px;
}
